<html>
<head>
    <title>Simple Cloud Ping App</title>
    <script src="static/jquery-1.9.1.js"></script>
    <script src="static/main.js"></script>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header"><h1>Simple Cloud Ping App</h1></div>
    <div id="messagelist">
    <table>
        <thead>
            <tr>
                <td>IP Address</td>
                <td>Received</td>
                <td>Message</td>
            </tr>
        </thead>
        <tbody id="messages">
        </tbody>
    </table>
    <div id="footer"></div>
</div>
</body>
</html>
